@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; /*Fuente de la letra*/
}

body{
    background-image: url(FondoCalcu.jpg);
    min-height: 100vh;
    background-color: #ffffff;
    display: grid;
    place-items: center; 
    
    
}  


.numero-input
{
    grid-column: 1 / -1;
    background-color: white;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: left;
    border-radius: .5rem;
    border: none;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    color: rgb(0, 0, 0);
    width: 80%;
    display: flex;
    
}


.calif
{
    grid-column: 1 / -1;
    background-color: white;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    display: flex;
    justify-content: center;
}


.promedio
{
    grid-column: 1 / -1;
    background-color: white;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    display: flex;
    justify-content: center;

}

#Limpiar {
  padding: 18px 27px;
  font-size: 18px;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: yellow;
  border: none;
  border-radius: 0.5rem;
  box-shadow: yellow;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#Limpiar:hover {
  background-color: #414204;
  box-shadow:yellow;
  color: #ffffff;
  transform: translateY(-7px);
}
#Limpiar:active {
  transform: translateY(-1px);
}


#Calcular {
  padding: 18px 27px;
  font-size: 18px;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: black;
  background-color: red;
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgb(109, 6, 6);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}


#Calcular:hover {
  background-color:rgb(109, 6, 6);
  box-shadow:red;
  color: #ffffff;
  transform: translateY(-7px);
}

#Calcular:active {
  transform: translateY(-1px);
}

#close {
  border: none;
  border-radius: 0.5rem;
  padding: 15px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#close:hover {
  background-color: #500404;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#close:active {
  transform: translateY(-1px);
}

.modal-container {
  display: flex;
  background-color: #ffffff;
  background-image: url(FondoCalcu.jpg);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  color: black
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-image: url(FondoCalcu.jpg);
  background-color: #ffffff;
  width:450px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #ffffff(0, 0, 0, 0.2);
  text-align: center; 
}

.modal h1 {
  margin: 0;
  color: rgb(0, 0, 0);
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

.contenedor {
  width: 100%;
}