@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; /*Fuente de la letra*/
}

body{
    min-height: 100vh;
    background-color: #15173c;
    display: grid;
    place-items: center; 
}  


.Calculadora{
    background-color: #15173c;
    color: white;
    display: grid;
    max-width: 30%;
    padding: -1.5rem;
    border-radius: 1rem;
    grid-template-columns: repeat(
      auto-fit, 
      minmax(
        150px,
        1fr
      )
    );
    gap: 7px;    
}


.numero-input
{
    grid-column: 1 / -1;
    background-color: white;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: left;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    color: black;
    width: 80%;
    
}


.calif
{
    grid-column: 1 / -1;
    background-color: white;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    display: flex;
    justify-content: center;
}


.promedio
{
    grid-column: 1 / -1;
    background-color: white;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    display: flex;
    justify-content: center;

}

#Limpiar{
  background-color: yellow;
  border: none;
  border-radius: .5rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}


#Calcular{
    background-color: red;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

#close{
    background-color: red;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.modal-container {
  display: flex;
  background-color: #090c31;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  color: black
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #090c31;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #090c31(0, 0, 0, 0.2);
  text-align: center;
  
}

.modal h1 {
  margin: 0;
  color: white;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

.contenedor {
  width: 100%;
}